footer 
    h2 La Novena 
    .footerSocial 
        i.fa-brands.fa-facebook 
        i.fa-brands.fa-instagram 
        i.fa-brands.fa-whatsapp 
    .footerInfo 
        h3 Lun a Vie de 8 a 14 hs 
        h4 Entre Ríos 450 - Bº Otaño
        h4 Plaza Huincul, Neuquén
