footer 
    .infoFooter
        img(src="/img/logo.png", alt="")
        .infoFooterContainer 
            h3 Atención
            p Lun a Vie de 8 a 14 hs 
        .infoFooterContainer
            h3 Ubicación
            p Entre Ríos 450 - Bº Otaño
            p Plaza Huincul, Neuquén
        .infoFooterContainer
            h3 Telefono 
            p 299 535-0417
    .socialFooter
        i.fa-brands.fa-facebook 
        i.fa-brands.fa-instagram 
        i.fa-brands.fa-whatsapp 
