header
    .headerContainer
        .titleContainer
            .blurContainer
                h1 La Novena
            .menuContainer
                i.fa-solid.fa-bars#openNavbar
                p Menu
        .navbarContainer
            ul.navbar
                li.navbarOption
                    i.fa-solid.fa-house
                    a(href="/") Inicio 
                li.navbarOption
                    i.fa-solid.fa-store
                    a(href="/catalogo") Catalogo 
                li.navbarOption
                    i.fa-solid.fa-users-line
                    a(href="/nosotros") Sobre Nosotros 
                li.navbarOption
                    i.fa-solid.fa-gear
                    a(href="/admin") Administración
