header
    .headerContainer
        .titleContainer
            .blurContainer
                h1 La novena
                .menuContainer
                    i.fa-solid.fa-bars#openNavbar
                    p#menuDescription Menu
                .navbarContainer
                    ul.navbar
                        .titleMenu 
                            h5 Centro de día
                            h3 La Novena
                        li.navbarOption
                            i.fa-solid.fa-house
                            a(href="/") Inicio 
                        li.navbarOption
                            i.fa-solid.fa-store
                            a(href="/catalogo") Catalogo 
                        li.navbarOption
                            i.fa-solid.fa-users-line
                            a(href="/nosotros") Sobre Nosotros 
                        li.navbarOption
                            i.fa-solid.fa-gear
                            a(href="/admin") Administración
                        .socialContainer 
                            a(href="https://www.facebook.com/people/Centro-de-D%C3%ADa-La-Novena/100066680851586/" target="_blank") 
                                i.fa-brands.fa-facebook 
                            a(href="https://www.instagram.com/centro2104" target="_blank") 
                                i.fa-brands.fa-instagram 
                            a(href="https://wa.me/2995350417" target="_blank") 
                                i.fa-brands.fa-whatsapp 
