header
    i.fa-solid.fa-bars#openNavbar
    ul.navbar 
        li
            a(href="/") Inicio 
        li
            a(href="/catalogo") Catalogo 
        li
            a(href="/nosotros") Sobre Nosotros 
        li
            a(href="/admin") Administración
    img.logo(src="/img/laNovena.png", alt="Logo La Novena")