extends layout 

block metas 
    title La Novena: Sobre Nosotros 
    meta(name="description", content="Centro de día La Novena Sobre Nosotros")

block content 
    main
        h2.aboutTitle Sobre Nosotros
        section.usersContainer 
            .usersImages 
                img(src="/img/usuarios1.jpeg", alt="Usuarios centro de día")
                img(src="/img/usuarios2.jpeg", alt="Usuarios centro de día")
                img(src="/img/usuarios3.jpeg", alt="Usuarios centro de día")
                .controlSlides
                    i.fa-solid.fa-angle-left#btnPrev
                    i.fa-solid.fa-angle-right#btnNext
            .usersInfo 
                p Somos usuarias/os del Centro de día que elaboramos juguetes didácticos. Participamos de ferias en donde vendemos nuestros productos, también realizamos juguetes a pedido y en nuestro catálogo podrán encontrar los juguetes disponibles.
        section.usContainer
            .usImage 
                img(src="/img/manos.png", alt="Manos Unidas")
            .usInfo 
                p Seis años de compromiso y dedicación en el abordaje integral y acompañamiento a personas con padecimiento subjetivo y/o consumo problemático. Desde su creación, este dispositivo se ha convertido en un espacio de apoyo para la comunidad, brindando una atención especializada y contención emocional a quienes lo necesitan.<br/>Ubicado en la calle Entre Ríos N° 450 del barrio Otaño, el Centro de Día “La Novena” es parte esencial del servicio de Salud Mental del hospital local. Su papel como complemento de la red de atención de salud ha sido fundamental en la atención a pacientes con problemas de salud mental y consumo en Plaza Huincul y Cutral Co.<br/>Durante seis años de trayectoria, el Centro ha destacado por contar con un equipo interdisciplinario de salud comprometido y dedicado. Psicólogos, trabajadores sociales, acompañantes terapeúticos y enfermeros ademas de los talleristas que trabajan en conjunto para ofrecer diversos talleres.
        section.locationContainer 
            h3 Encontramos en:
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d775.8391181869264!2d-69.18985273033044!3d-38.93868395509541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzjCsDU2JzE5LjMiUyA2OcKwMTEnMjEuMiJX!5e0!3m2!1ses-419!2sar!4v1692627006769!5m2!1ses-419!2sar" width="355" height="450"  allowFullScreen="" loading="lazy" referrerPolicy="no-referrer-when-downgrade"></iframe>
    