extends layout 

block metas 
    title La Novena: Administración
    meta(name="description", content="Administración del sitio")

block content 
    main.adminContainer
        h1 Administración 
        section.adminOptions 
            .adminOpt 
                i.fa-solid.fa-circle-plus
                a(href="/admin/create")  Crear nuevo
            .adminOpt
                form(action="/admin/search", method="get") 
                    input#adminBusqueda(type="text", name="searches" placeholder="Nombre del Producto")
                    button.btnSearch(type="submit") Buscar
            .adminOpt 
                i.fa-solid.fa-right-from-bracket 
                a(href="/admin/logout")  Salir
        section.adminProduct 
            if allProducts.length
                each product in allProducts
                    .productCard
                        .wrapper
                            div(style="background-image: url(/img/productos/" + product.image + ")").banner-image
                            h3= product.name 
                            p= product.description
                            h5="$ " + product.price
                        .opt
                            form(action="/admin/edit/" + product.id) 
                                button.btn-light(type="submit") 
                                    i.fa-solid.fa-pen-to-square 
                                    span Editar
                            form#formDelete(action="/admin/delete/" + product.id + '?_method=DELETE' method='POST') 
                                button.btn-light(type="submit") 
                                    i.fa-solid.fa-trash-can
                                    span Borrar
            else 
                .noResult
                    p No hay resultados para esa busqueda
                    a(href="/admin") Volver 
        .containerModal
            .adminModal 
                h3 ¿Está seguro de que desea eliminar este producto de forma permanente?
                button#btn-delete(type="submit") Aceptar 
                button#btn-cancel(type="reset") Cancelar