extends layout 

block metas 
    title La Novena 
    meta(name="description", content="Centro de día La Novena")

block content 
    main 
        section(class=( error ) ? 'error' : 'error errorHide')
            div 
                p= error && error.user ? error.user.msg : ""
                p= error && error.password ? error.password.msg : ""
            i.fa-solid.fa-xmark#closeError
        section.introSection 
            