extends layout 

block metas 
    title La Novena 
    meta(name="description", content="Centro de día La Novena")

block content 
    main 
        section.introSection 
            div.sectionPart1
                img.bg-waveLight(src="/img/fondos/waveLight.png", alt="ondas celestes")
                p Compromiso y dedicación en el abordaje integral y acompañamiento a personas con padecimiento subjetivo y/o consumo problemático. Desde su creación, este dispositivo se ha convertido en un espacio de apoyo para la comunidad, brindando una atención especializada y contención emocional a quienes lo necesitan.
                img(src="/img/fondos/saludMental.png", alt="personas")
            div.sectionPart2
                img(src="/img/fondos/saludMental2.png", alt="persona")
                p Ubicado en la calle Entre Ríos N° 450 del barrio Otaño, el Centro de Día “La Novena” es parte esencial del servicio de Salud Mental del hospital local. Su papel como complemento de la red de atención de salud ha sido fundamental en la atención a pacientes con problemas de salud mental y consumo en Plaza Huincul y Cutral Co.
            div.sectionPart3
                img(src="/img/fondos/saludMental2.png", alt="")
                Durante seis años de trayectoria, el Centro ha destacado por contar con un equipo interdisciplinario de salud comprometido y dedicado. Psicólogos, trabajadores sociales, acompañantes terapeúticos y enfermeros ademas de los talleristas que trabajan en conjunto para ofrecer diversos talleres.