extends layout 

block metas 
    title La Novena 
    meta(name="description", content="Centro de día La Novena")

block content 
    main 
        section(class=( error ) ? 'error' : 'error errorHide')
            div 
                p= error && error.user ? error.user.msg : ""
                p= error && error.password ? error.password.msg : ""
            i.fa-solid.fa-xmark#closeError
        h2.introTitle Centro de día
        section.introSection
            img(src="/img/fondos/manos.jpg", alt="Dos personas tomadas de las manos")
            .textSection
                h3 Compromiso y dedicación...
                p Años de compromiso y dedicación en el abordaje integral y acompañamiento a personas con padecimiento subjetivo y/o consumo problemático...
                i.fa-solid.fa-circle-arrow-right
        section.infoSection 
            .headSection 
                h3 Detalles
                i.fa-solid.fa-map-location-dot
            p Nuestro Centro de Día, está ubicado en B°Otaño de Plaza Huincul, pertenece a Hospital Complejidad VI y depende del Servicio de salud mental.
            .infoArrow
                span Más Información  
                i.fa-solid.fa-circle-arrow-right  
        section.infoSection
            .headSection
                h3 Venta de Juguetes 
                i.fa-solid.fa-puzzle-piece
            p Fabricados en madera por los usuarios del centro de día.
            img(src="/img/juguetes.jpg", alt="Juego de cubos")
            .infoArrow
                span Más Información  
                i.fa-solid.fa-circle-arrow-right