extends layout 

block metas 
    title La Novena: Administración 
    meta(name="description", content="Login Administración")

block content 
    main.loginContainer 
        h1 Sesión Administración 
        form(action="/admin" method="POST")
            input#user(type="text", name="user", placeholder ="Usuario")
            input#password(type="password", name="password", placeholder="Contraseña")
            button(type="submit")#btnSubmit Ingresar