/*----- Variables y Fuentes -----*/
:root{
    --color1: #68523C;
    --color2: #071830;
    --color3: #F2F1EB;
    --color4: #304362;
    --color5: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

/*----- Generalidades -----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    background-color: var(--color2);
    font-family: 'Lato', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
i {
    cursor: pointer;
}
.btn-light {
    background-color: var(--color4);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    width: 7.5rem;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
}
.btn-light:hover {
    color: var(--color4);
    background-color: white;
    transform: scale(1.1);
}
/* -------Header-------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    position: relative;
    background-color: var(--color1);
    color: white;
    filter: drop-shadow(0 0 15px black);
    min-height: 75px;
}

.title{
    font-size: 1.4rem;
    text-align: center;
}
.navbar {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0 1.5rem 0 1.5rem;
    background-color: var(--color1);
    transition: all 0.4s ease-out;
    text-align: center;
    z-index: 10;
}
.navbar li{
    margin: 1rem 0;
}
.navbar a{
    color: white;
    text-shadow: 0 0 15px black;
}
.show {
    height: 17rem;
    padding: 130px 1.5rem 0 1.5rem;
}
.logo{
    position: absolute;
    width: 150px;
    border-radius: 50%;
    top: 0;
    left: calc(50vw - 75px);
    z-index: 11;
}

.msgError{
    color: rgb(255, 103, 76);
    margin: 0.2rem 0;
    font-weight: bold;
}
/* ------- Footer -------*/
footer {
    background-color: var(--color1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #071830;
    text-align: center;
}
.footerSocial {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    justify-content: space-around;
    filter: drop-shadow(0 0 15px black);
}

/* ------- Index Main -------*/

.error {
    position: fixed;
    top: 18px;
    left: 0%;
    z-index: 99;
    background-color: rgb(249, 82, 52);
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}
.errorHide {
    display: none;
}

.sectionPart1 {
    background-color: var(--color4);
    position: relative;
    margin-top: 14rem;
    color: white;
    padding: 1.5rem;
    text-align: justify;
}
.sectionPart1::after{
    content: "";
    position: absolute;
    bottom: -75px;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 150px;
    background-color: var(--color4);
    border-radius: 50%;
    box-shadow: 10px 0 15px black;
}
.sectionPart1 img{
    width: 100%;
    filter: drop-shadow(10px 0 15px black);
}
.bg-waveLight{
    z-index: -1;
    width: 100%;
    position: absolute;
    top: -10%;
    left: 0;
    filter: none;
}

.sectionPart2 {
    background-color: var(--color1);
    position: relative;
    color: white;
    padding: 1.5rem;
    text-align: justify;
    margin: 7rem 0;
}
.bg-waveB {
    position: absolute;
    width: 100%;
    bottom: -10%;
    left: 0;
    rotate: 180deg;
    z-index: -1;
}
.sectionPart2 img{
    width: 100%;
    filter: drop-shadow(10px 0 15px black);
}

.sectionPart3 {
    background-color: var(--color3);
    position: relative;
    color: rgb(0, 0, 0);
    padding: 1.5rem;
    text-align: justify;
    margin: 7rem 0;
}
.sectionPart3 img{
    width: 100%;
    filter: drop-shadow(10px 0 15px black);
}

/* ----- Catalogo ----- */
.productsContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem 0.5rem;
}
.categories {
    background-color: var(--color1);
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 2rem;
}
.categories form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.categories select, .categories button{
    padding: 0.3rem;
    font-size: 1rem;
}

.productCard {
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 28px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin: 1rem 0;
    color: var(--color1);
    width: 350px;
    }
.wrapper {
    width: 100%;
    height: 100%;
}
.banner-image {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
}
.wrapper h3{
    margin: 1rem 0;
    text-transform: uppercase;
}
.wrapper p{
    text-align: justify;
    margin-bottom: 1rem;
}

/* ----- Administracion ----- */
.adminContainer {
    margin-top: 5rem;
    text-align: center;
    color: var(--color1);
}
.adminOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    color: var(--color3);
    background-color: var(--color4);
    gap: 1rem;
}
.adminOpt {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    padding: 0.5rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}
.adminOpt i {
    font-size: 2rem;
}
.adminOpt input{
    padding: 0.3rem;
    border: none;
    border-radius: 4px;
}
.adminProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.opt {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.opt button {
    padding: 0.5rem 0.7rem;
}
.opt i{
    margin: 0 0.3rem;
}
.btnSearch{
    background-color: var(--color3);
    color: var(--color4);
    padding: 0.3rem 0.7rem;
    margin-left: 0.5rem;
    font-weight: bolder;
    border-radius: 4px;
    border: none;
}
.noResult{
    padding: 2rem;
    font-size: 1.2rem;
}
.noResult a{
    color: var(--color3);
}
/* ----- Edición ----- */
.editContainer {
    margin-top: 5rem;
}
.editContainer h1 {
    margin: 1rem 0;
    text-align: center;
    color: var(--color1);
}
.formulario {
    background-color: var(--color4);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.formulario input, .formulario textarea, .formulario select {
    padding: 0.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
}
.formulario label {
    color: var(--color3);
}
.formularioSeccion {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.encargoLabel {
    margin-left: 0.8rem;
}
.editButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.editButtons button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    background-color: var(--color3);
    color: var(--color2);
    border: 1px solid var(--color2);
    border-radius: 8px;
}
.editButtons button:hover {
    cursor: pointer;
    background-color: var(--color2);
    color: var(--color3);
    border: 1px solid var(--color3);
}
.uploadImg {
    border: var(--color2) 1.5px solid;
    padding: 0.5rem;
    min-width: 350px;
    border-radius: 8px;
}
.containerImg {
    width: 330px;
    height: 330px;
    background-color: var(--color1);
    border-radius: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Administración Modal */
.adminModal{
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
    width: 300px;
    height: 150px;
    background-color: var(--color1);
    color: var(--color2);
    padding: 1rem;
}